<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <link rel="stylesheet" href="./views/css/myMovieDetails.css">
</head>

<body>

    <div class="movie-container">
        <div class="movie-poster">
            <img id="posterImage" src="" alt="Movie Poster">
        </div>
        <div class="movie-details">
            <h1 id="movieTitle">Movie Title</h1>
            <p><strong>Year:</strong> <span id="movieYear"></span></p>
            <p><strong>Genre:</strong> <span id="movieGenre"></span></p>
            <p><strong>Runtime:</strong> <span id="movieRuntime"></span>
                <strong>Type:</strong> <span id="movieType"></span>
            </p>
            <p><strong>Director:</strong> <span id="movieDirector"></span></p>
            <p><strong>Plot:</strong> <span id="moviePlot"></span></p>
            <p><strong>IMDB Rating:</strong> <span id="movieRating"></span>
                Number of votes: <span id="movieImdbVotes"></span>
            </p>
            <strong>Metascore:</strong> <span id="movieMetascore"></span></p>
        </div>
    </div>

    <div class="button-container">
        <button type=button id="imdbButton">Visit IMDB Page</button>
        <button type=button id="removeFromWatchlistButton">Remove from Watchlist</button>
        <button type=button class="close-button">Close</button>
    </div>

    <script type="module">
        // Check Auth
        import checkAuth from "./js/checkAuth.js";
        checkAuth();
        // Call the function to fetch and display movie details
        import showMyMovieDetails from "./js/showMyMovieDetails.js";
        showMyMovieDetails(); 
    </script>
</body>

</html>